{
	"name" : "netsensia/directorzone",
	"description" : "Directorzone",
	"type" : "project",
	"authors" : [{
			"name" : "Chris Moreton",
			"email" : "chris@netsensia.com",
			"homepage" : "http://www.netsensia.com",
			"role" : "Developer"
		}
	],
	"keywords" : [
		"zend framework 2"
	],
	"homepage" : "http://zf2.netsensia.com",
	"require" : {
	    "guzzlehttp/guzzle": "5.1.*",
		"raven/raven" : ">=0.2.0",
		"geoip2/geoip2" : "0.2.*",
		"blueimp/jquery-file-upload" : "9.2.1",
		"zendframework/zendservice-recaptcha" : "2.*",
		"elasticsearch/elasticsearch" : "0.4.0",
		"cloud-solutions/zend-sentry" : "0.3.1",
		"php" : ">=5.4",
		"mockery/mockery" : "0.8.0",
		"netsensia/companies-house" : "v0.2.3",
		"zendframework/zendframework" : "2.3.*",
		"j7mbo/twitter-api-php": "dev-master",
		"scragg0x/bing-api-php": "dev-master",
		"jbbcode/jbbcode": "dev-master",
		"aws/aws-sdk-php": "2.7.*@dev"
	},
	"require-dev" : {
		"phpunit/phpunit" : "3.7.*",
		"behat/mink-selenium2-driver" : "*",
		"behat/behat" : "2.4.*@stable",
		"mockery/mockery" : "0.8.0",
		"behat/mink" : "1.4@stable",
		"behat/mink-extension" : "*",
		"phpdocumentor/phpdocumentor" : "2.*",
		"behat/mink-goutte-driver" : "*"
	},
	"autoload" : {
		"psr-0" : {
			"Directorzone" : "module/Directorzone/src",
			"Application" : "module/Application/src",
			"Netsensia" : "module/Netsensia/src"
		}
	},
	"config":{
      		"github-oauth":{
         		"github.com":"{{ pillar['directorzone']['github_oauth'] }}"
      		}
   	}
}
