<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="http://www.ukfootballfinder.local/" />
<title>master.html</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">master.html</td></tr>
</thead><tbody>
<tr>
	<td>setSpeed</td>
	<td>50</td>
	<td></td>
</tr>
<tr>
	<td>storeEval</td>
	<td>&quot;netsensia.com&quot;</td>
	<td>emailDomain</td>
</tr>
<tr>
	<td>storeEval</td>
	<td>&quot;chris&quot;</td>
	<td>emailAccount</td>
</tr>
<tr>
	<td>storeEval</td>
	<td>var d=new Date(); ('0' + d.getDate()).slice(-2) + '/' + ('0' + (d.getMonth()+1)).slice(-2) + '/' + d.getFullYear();</td>
	<td>today</td>
</tr>
<tr>
	<td>storeEval</td>
	<td>var d=new Date(); d.getTime();</td>
	<td>timestamp</td>
</tr>
<tr>
	<td>storeEval</td>
	<td>Math.floor((Math.random()*10000000)+1);</td>
	<td>random</td>
</tr>
<tr>
	<td>storeEval</td>
	<td>&quot;grf9ewasfj&quot;</td>
	<td>password</td>
</tr>
<tr>
	<td>storeEval</td>
	<td>&quot;9t}9gute&lt;mqtKM7a79.Ea.Qcrd&quot;</td>
	<td>newpassword</td>
</tr>
<tr>
	<td>storeEval</td>
	<td>&quot;asdasd12&quot;</td>
	<td>newpassword2</td>
</tr>
<tr>
	<td>storeEval</td>
	<td>&quot;!!!222$$$WWWwww&quot;</td>
	<td>newpassword3</td>
</tr>
<tr>
	<td>storeEval</td>
	<td>var d=new Date(); d.getTime();</td>
	<td>username</td>
</tr>
<tr>
	<td>open</td>
	<td>/logout</td>
	<td></td>
</tr>
<tr>
	<td>selectWindow</td>
	<td>null</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>id=drop3</td>
	<td></td>
</tr>
<tr>
	<td>waitForText</td>
	<td>link=Create a new account</td>
	<td>Create a new account</td>
</tr>
<tr>
	<td>click</td>
	<td>id=drop3</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>link=Create a new account</td>
	<td></td>
</tr>
<tr>
	<td>waitForText</td>
	<td>css=label.control-label</td>
	<td>Your username</td>
</tr>
<tr>
	<td>type</td>
	<td>name=username</td>
	<td>${username}</td>
</tr>
<tr>
	<td>type</td>
	<td>name=email</td>
	<td>${username}@${emailDomain}</td>
</tr>
<tr>
	<td>type</td>
	<td>id=password</td>
	<td>${password}</td>
</tr>
<tr>
	<td>type</td>
	<td>name=confirm-password</td>
	<td>${newpassword}</td>
</tr>
<tr>
	<td>type</td>
	<td>name=confirm-password</td>
	<td>asdasd234234234</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>name=send</td>
	<td></td>
</tr>
<tr>
	<td>waitForText</td>
	<td>css=div.form-field-error</td>
	<td>Passwords don't match</td>
</tr>
<tr>
	<td>type</td>
	<td>name=confirm-password</td>
	<td>${password}</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>name=send</td>
	<td></td>
</tr>
<tr>
	<td>waitForText</td>
	<td>css=h1</td>
	<td>Account activated</td>
</tr>
<tr>
	<td>selectWindow</td>
	<td>null</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>id=drop3</td>
	<td></td>
</tr>
<tr>
	<td>waitForText</td>
	<td>css=form</td>
	<td>Remember Me</td>
</tr>
<tr>
	<td>type</td>
	<td>name=login-email</td>
	<td>${email}</td>
</tr>
<tr>
	<td>type</td>
	<td>name=login-password</td>
	<td>${newpassword}</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>name=submit</td>
	<td></td>
</tr>
<tr>
	<td>waitForText</td>
	<td>css=div.alert.alert-danger</td>
	<td>× Login failed. Please try again.</td>
</tr>
<tr>
	<td>click</td>
	<td>id=drop3</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>name=login-email</td>
	<td>${username}</td>
</tr>
<tr>
	<td>type</td>
	<td>name=login-password</td>
	<td>${password}</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>name=submit</td>
	<td></td>
</tr>
<tr>
	<td>waitForText</td>
	<td>css=div.alert.alert-success</td>
	<td>× You are now logged in</td>
</tr>
<tr>
	<td>waitForText</td>
	<td>css=strong</td>
	<td>${username}</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>link=Directories</td>
	<td></td>
</tr>
<tr>
	<td>waitForText</td>
	<td>css=h3</td>
	<td>Company directory</td>
</tr>
<tr>
	<td>waitForElementPresent</td>
	<td>//table[@id='companies']/tbody/tr[4]/td[2]</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>//table[@id='companies']/tbody/tr[4]/td[2]</td>
	<td></td>
</tr>
<tr>
	<td>waitForElementPresent</td>
	<td>id=officer-id-1</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=officer-id-1</td>
	<td></td>
</tr>
<tr>
	<td>waitForElementPresent</td>
	<td>link=Edit this person</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>link=Edit this person</td>
	<td></td>
</tr>
<tr>
	<td>waitForText</td>
	<td>css=legend</td>
	<td>News Feeds</td>
</tr>
<tr>
	<td>selectWindow</td>
	<td>null</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>link=Account</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>link=Talent Pool</td>
	<td></td>
</tr>
<tr>
	<td>waitForElementPresent</td>
	<td>id=account-profile-profession</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=account-profile-talentpoolsummary</td>
	<td>This is my personal talent pool profile.&nbsp;&nbsp;I would just like to say some things about me.</td>
</tr>
<tr>
	<td>select</td>
	<td>id=account-profile-profession</td>
	<td>label=Certified Accountant</td>
</tr>
<tr>
	<td>select</td>
	<td>id=account-profile-jobarea</td>
	<td>label=IT, Software, Web</td>
</tr>
<tr>
	<td>select</td>
	<td>name=widgetignore[]</td>
	<td>label=Interim</td>
</tr>
<tr>
	<td>select</td>
	<td>document.accountProfileForm.elements['widgetignore[]'][1]</td>
	<td>label=Algeria</td>
</tr>
<tr>
	<td>select</td>
	<td>document.accountProfileForm.elements['widgetignore[]'][2]</td>
	<td>label=£150-200k</td>
</tr>
<tr>
	<td>select</td>
	<td>document.accountProfileForm.elements['widgetignore[]'][3]</td>
	<td>label=Platinum &amp; Precious Metals</td>
</tr>
<tr>
	<td>click</td>
	<td>link=Add row</td>
	<td></td>
</tr>
<tr>
	<td>waitForElementPresent</td>
	<td>document.accountProfileForm.elements['widgetignore[]'][5]</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>link=Add row</td>
	<td></td>
</tr>
<tr>
	<td>selectWindow</td>
	<td>null</td>
	<td></td>
</tr>
<tr>
	<td>waitForElementPresent</td>
	<td>document.accountProfileForm.elements['widgetignore[]'][9]</td>
	<td></td>
</tr>
<tr>
	<td>select</td>
	<td>document.accountProfileForm.elements['widgetignore[]'][5]</td>
	<td>label=Australia</td>
</tr>
<tr>
	<td>select</td>
	<td>document.accountProfileForm.elements['widgetignore[]'][9]</td>
	<td>label=Bahamas</td>
</tr>
<tr>
	<td>click</td>
	<td>//form[@id='accountProfileForm']/table/tbody/tr[3]/td[7]/a/span</td>
	<td></td>
</tr>
<tr>
	<td>select</td>
	<td>document.accountProfileForm.elements['widgetignore[]'][8]</td>
	<td>label=Russian</td>
</tr>
<tr>
	<td>select</td>
	<td>document.accountProfileForm.elements['widgetignore[]'][9]</td>
	<td>label=C1 PROFICIENT SPEAKER: Effective Operational Profi</td>
</tr>
<tr>
	<td>select</td>
	<td>document.accountProfileForm.elements['widgetignore[]'][10]</td>
	<td>label=1st degree / Batchelors</td>
</tr>
<tr>
	<td>type</td>
	<td>css=input[name=&quot;widgetignore[]&quot;]</td>
	<td>Computer Gaming</td>
</tr>
<tr>
	<td>type</td>
	<td>document.accountProfileForm.elements['widgetignore[]'][12]</td>
	<td>Java Certifiied Engineer</td>
</tr>
<tr>
	<td>type</td>
	<td>document.accountProfileForm.elements['widgetignore[]'][12]</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>document.accountProfileForm.elements['widgetignore[]'][13]</td>
	<td>Java Certifiied Engineer</td>
</tr>
<tr>
	<td>type</td>
	<td>document.accountProfileForm.elements['widgetignore[]'][12]</td>
	<td>Sun Certification</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>name=form-submit</td>
	<td></td>
</tr>
<tr>
	<td>waitForElementPresent</td>
	<td>css=div.alert.alert-success</td>
	<td></td>
</tr>
<tr>
	<td>selectWindow</td>
	<td>null</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>name=keywords</td>
	<td>city</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>css=button.btn.btn-default</td>
	<td></td>
</tr>
<tr>
	<td>waitForText</td>
	<td>link=CITY A.M. LIMITED</td>
	<td>CITY A.M. LIMITED</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>link=CITY A.M. LIMITED</td>
	<td></td>
</tr>
<tr>
	<td>waitForText</td>
	<td>//div[@id='main']/div[2]/div/div/div[2]/div[2]/table/tbody/tr/td[2]</td>
	<td>58130 - Publishing of newspapers</td>
</tr>
<tr>
	<td>selectWindow</td>
	<td>null</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>link=Account</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>link=Talent Pool</td>
	<td></td>
</tr>
<tr>
	<td>select</td>
	<td>id=account-profile-talentpoolpublishstatus</td>
	<td>label=Published in Talent Pool Directory</td>
</tr>
<tr>
	<td>click</td>
	<td>link=Add row</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>link=Add row</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>name=form-submit</td>
	<td></td>
</tr>
<tr>
	<td>waitForText</td>
	<td>css=div.alert.alert-success</td>
	<td>× Your details have been saved</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>link=Directories</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>link=Talent Pool</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>link=Account</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>link=Directories</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>link=Talent Pool</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>link=Articles</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>link=Account</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>link=Talent Pool</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=account-profile-talentpoolsummary</td>
	<td>${username} This is my talent pool summary.</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>name=form-submit</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>link=Directories</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>link=Talent Pool</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>link=${username} This is my talent pool summary.</td>
	<td></td>
</tr>
<tr>
	<td>waitForText</td>
	<td>css=div.col-md-8 &gt; div.panel.panel-primary &gt; div.panel-heading &gt; h3.panel-title</td>
	<td>Personal Summary</td>
</tr>
<tr>
	<td>waitForText</td>
	<td>css=div.col-md-8 &gt; div.panel.panel-primary &gt; div.panel-body</td>
	<td>${username} This is my talent pool summary.</td>
</tr>
<tr>
	<td>click</td>
	<td>id=sendmessagedialog</td>
	<td></td>
</tr>
<tr>
	<td>waitForText</td>
	<td>css=div.modal-body</td>
	<td>Title Message</td>
</tr>
<tr>
	<td>waitForElementPresent</td>
	<td>id=messagetitle</td>
	<td></td>
</tr>
<tr>
	<td>pause</td>
	<td>1500</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=messagetitle</td>
	<td>${username} This is the title of a message</td>
</tr>
<tr>
	<td>waitForElementPresent</td>
	<td>id=messagecontent</td>
	<td></td>
</tr>
<tr>
	<td>pause</td>
	<td>1500</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=messagecontent</td>
	<td>${username} This is the content of a message&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
</tr>
<tr>
	<td>click</td>
	<td>id=sendmessage</td>
	<td></td>
</tr>
<tr>
	<td>pause</td>
	<td>5000</td>
	<td></td>
</tr>
<tr>
	<td>verifyAlert</td>
	<td>Message sent successfully</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>link=Account</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>link=Inbox</td>
	<td></td>
</tr>
<tr>
	<td>waitForText</td>
	<td>//table[@id='inbox']/tbody/tr[2]/td[2]</td>
	<td>${username} This is the title of a message</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>css=td &gt; a</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>//div[@id='main']/div[2]</td>
	<td>Personal Talent Pool Who's Who Contact Membership Account Publish My Articles Inbox Preferences Experience Company ${username} This is the title of a message ${username} This is the content of a message</td>
</tr>
</tbody></table>
</body>
</html>
