Xvfb :10 -ac &
export DISPLAY=:10
java -jar /usr/bin/selenium-server.jar -multiwindow -htmlSuite "*firefox" "{{pillar['ukff']['selenium-test-url']}}" "{{pillar['ukff']['selenium-test-root']}}/suite.html" "report.html" -debug