<phpunit
    backupGlobals="false"
    backupStaticAttributes="false"
    bootstrap="Bootstrap.php"
    colors="false"
    strict="true"
    syntaxCheck="false"
    verbose="true">
    <testsuite name="Netsensia ZF2 Skeleton">
        <directory>../module/Application/tests/Application</directory>
    </testsuite>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./../module/Netsensia/src</directory>
            <directory suffix=".php">./../module/Application/src</directory>
        </whitelist>
    </filter>    
</phpunit>