body {
    padding-top: 60px;
    padding-bottom: 0px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    margin-left: 0;
    padding: 10px 20px 12px 10px;
}

div.container li {
	line-height:22px;
}

textarea {
	width:500px;
	height:175px;
}

.hint {
	margin-top:0.3em;
	height:0em;
}

.form-field-error {
	color: #b94a48;
}

.translate-flag {
	display:inline; 
	margin-right:10px;
	margin-top:10px;
}

/* Footer
-------------------------------------------------- */

#footer {
  text-align: center;
  padding: 20px 0;
  min-height:100%;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}

#footer p {
  margin-bottom: 0;
  color: #777;
}

.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}

html, body {height: 100%;}

#page-wrap {min-height: 100%;}

#main {overflow:auto;
	padding-bottom: 230px;}  /* must be same height as the footer */

#footer {position: relative;
	margin-top: -230px; /* negative value of footer height */
	height: 230px;
	clear:both;
}

.footnotes {
	font-size:0.8em;
	margin-top:20px;
}

div.featurelist li {
	margin-top:15px;
}

.input-group .form-control {
	width:275px;
}

div.fileinput .input-group .form-control {
	width:100%;
}

.input-group textarea.form-control  {
    width:100%;
	height:80px;
}

.input-group .date-entry {
    width:10em;
}

select#account-whoswho-availability {
	width:100%;
}

label.control-label {
	font-weight:normal;
}

@font-face
{
    font-family:gentium-basic;
    src: url('fonts/Gentium-Basic/GenBasR.ttf');
}

.directorzone-brand-type {
	font-family:gentium-basic;
	color:#fff;
}

#login-dropdown {
  min-width: 240px;
}

#login-dropdown .form-control {
  width: 220px;
}

div.invisible-other {
	display:none;
}

div.infodropdown {
	font-size:0.8em;
}

div.infodropdown .id {
	font-weight:bold;
	margin-right:1em;
}

div.infodropdown .name {
	font-weight:normal;
}

div.infodropdown .supplement {
    color:#BBBBBB	
}

div.mini-list-item {
	padding: 0.3em 1em 0.3em 1em;
	font-size:0.95em;
}

div.editable-container div.form-group {
	margin-left:0px;
	margin-right:0px;
}


/* Base styles (regardless of theme) */
.bs-callout {
padding: 15px 30px 15px 15px;
border-left: 5px solid #eee;
}
.bs-callout-overview {
	border-left: 1px solid #eee;
	border-top: 1px solid #eee;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.bs-callout h4 {
margin-top: 0;
}
.bs-callout p:last-child {
margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
background-color: #fff;
}

/* Themes for different contexts */
.bs-callout-danger {
background-color: #fcf2f2;
border-color: #d9534f;
}
.bs-callout-warning {
background-color: #fefbed;
border-color: #f0ad4e;
}
.bs-callout-info {
background-color: #f0f7fd;
border-color: #5bc0de;
}

table caption {
	top: 15px;
	left: 15px;
	text-align:left;
	font-size: 12px;
	font-weight: 700;
	color: #bbb;
	text-transform: uppercase;
	letter-spacing: 1px;
}

table {
	margin-top:1em;
}

input[type=submit] {
	margin-top:1em;
	margin-bottom:1em;
}

input[type=checkbox] {
	float:left;

}

div[data-netsensia-group=account-profile-talentpoolpublishstatus] {
	margin-bottom: 1em;
}

#netsensiaWidget_sectionTitle_faeaec9eda6bc4c8cb6e1a9156a858be_callout,
#netsensiaWidget_sectionTitle_4bb315921d31159584aefef64cd24eaf_callout,
#netsensiaWidget_sectionTitle_f667fcb453aa33245c533a6057eff5b6_callout,
#netsensiaWidget_sectionTitle_61f1667518c8516a8a4fe18686a4e6fc_callout {
	margin-top: 1em;
}

ul.treepicker {
	list-style-type: none;
}

input#account-contact-exportpercent {
	width:4em;
}

div.articlekeyfacts ul {
	margin-top:0.5em;
	width:25em;
}

div.articlekeyfacts span {
	min-width:10em;
}

#talentpooleditheadline {
	margin-top:1em;
}

.news-panel {
	height:25em;
}

.news-panel-wide {
    height:20em;	
}

.hierarchy-widget-group {
	display:block;
}

div.autocomplete-selection {
    padding-left:0.2em;	
}

div.autocomplete-selections {
	width:40em;
	border:1px solid #428bca;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.76);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.76);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.76);
}

div.autocomplete-selection:hover {
	background: #428bca;
	color:#fff;
	cursor:pointer;
}