<?php
/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */

return array(
    'netsensia' => [
        'companies_house' => [
    	    'SenderID' => '{{ pillar['directorzone']['CH_SENDER_ID'] }}',
            'password' => '{{ pillar['directorzone']['CH_PASSWORD'] }}',
            'email'    => '{{ pillar['directorzone']['CH_EMAIL'] }}',
        ]
    ],
    'twitter' => [
	    'oauth_access_token' => "{{ pillar['directorzone']['TWITTER_OAUTH_TOKEN'] }}",
    	'oauth_access_token_secret' => "{{ pillar['directorzone']['TWITTER_OAUTH_SECRET'] }}",
    	'consumer_key' => "{{ pillar['directorzone']['TWITTER_CONSUMER_KEY'] }}",
    	'consumer_secret' => "{{ pillar['directorzone']['TWITTER_CONSUMER_SECRET'] }}"
    ],
    'bing' => [
        'key' => "{{ pillar['directorzone']['BING_API_KEY'] }}",
        'customer' => "{{ pillar['directorzone']['BING_CUSTOMER_ID'] }}j"
    ],
);
